// esto es un comentario

// de esta forma estoy declarando variables.
$text-color: #c51212;

//los mixin es como un metodo que me permite reutilizar codigo.
// puedo pasarle parametros como en cualquier metodo. $bg-color
// y puedo definir un valor para el parametro, como predefinido, en caso
//que yo no le pase ningun valor  : #2b2b2b
@mixin textFormat($bg-color: #2b2b2b) {

    color: $text-color;
    text-transform: uppercase;
    width: 50rem;
    background-color: $bg-color;
}

.container {
    width: 100%;
    background-color:aquamarine;
}

h1 {
    margin: 0;
    @include textFormat(#f1f1f1);
}

p {
@include textFormat();
}

// tambien puedo usar el nesting (Anidado) para de esta forma tener un codigo mas legible sobre que afecta a que cosa.
// en este ejemplo se muestra que cuando hacemos hover a los li que estan en los ul del div de clase listado. le aplicamos color blanco
.listado {
    width: 10rem;
    background-color: #c51212;
    padding: 0.5 rem;

    ul {
        margin: 0 0.5rem;

        li {
            font-size: larger;

            &:hover {
                color: antiquewhite;
            }
        }
    }
}