.contenedor {
    background-color: bisque;
    height: 100px;
    width: 300px;
    padding: 10px;
 /* la propiedad hidden hace que todo lo que sobresalga se oculte*/
    overflow:hidden ;
}

.contenedorScroll {
    margin: 10px 0px;
    background-color: bisque;
    height: 100px;
    width: 300px;
    padding: 10px;
 /* la propiedad hidden hace que todo lo que sobresalga se oculte*/
    overflow:scroll ;
}
.contenedorAuto {
    margin: 10px 0px;
    background-color: bisque;
    height: 100px;
    width: 300px;
    padding: 10px;
 /* la propiedad hidden hace que todo lo que sobresalga se oculte*/
    overflow:auto ;
}

.contenedorVisible {
    margin: 10px 0px;
    background-color: bisque;
    height: 100px;
    width: 300px;
    padding: 10px;
 /* la propiedad hidden hace que todo lo que sobresalga se oculte*/
    overflow:visible ;
}