.botonera {

}
#btn {
    background-color: aliceblue;
    color: green;
    font-style: italic;
}

#btn::before {
    content: "Pasa por encima";
}

#btn:hover::before {
background-color: green;
color: aliceblue;
content: "¡Hecho!";
}
